body {
  background-image: url("../image/imge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


ul {
  list-style-type: none;

}

ul,
li {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

ul li .text {
  width: 250px;
  text-align: center;
}

.form-check-label stretched-link,
.buttons {
  display: inline;
}